<div class="post-list">{% for post in include.posts %}
<article class="post-row"><div class="post-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y.%m.%d' }}</time><span>{% include reading-time.html post=post %}</span></div><div><h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3><p>{{ post.description | default: post.excerpt | strip_html | truncate: 150 }}</p>{% include tags.html tags=post.tags %}</div><span class="row-arrow" aria-hidden="true">↗</span></article>
{% endfor %}</div>
